.JokeList {
  display: flex;
  width: 80%;
  height: 80%;
}

.JokeList-sidebar {
  background: #9575cd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: center;
  -webkit-box-shadow: -1px 10px 29px -1px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: -1px 10px 29px -1px rgba(0, 0, 0, 0.77);
  box-shadow: -1px 10px 29px -1px rgba(0, 0, 0, 0.77);
  z-index: 2;
}

.JokeList-title {
  font-size: 4rem;
  margin: 2rem;
  color: white;
  font-weight: 300;
  letter-spacing: 0.6rem;
}

.JokeList-title span {
  font-weight: 700;
  letter-spacing: 0rem;
}

.JokeList-sidebar img {
  width: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 30px 90px -28px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 30px 90px -28px rgba(0, 0, 0, 1);
  box-shadow: 0px 30px 90px -28px rgba(0, 0, 0, 1);
}

.JokeList-jokes {
  height: 90%;
  background: white;
  align-self: center;
  width: 70%;
  overflow: scroll;
  -webkit-box-shadow: 0px 30px 90px -28px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 30px 90px -28px rgba(0, 0, 0, 1);
  box-shadow: 0px 30px 90px -28px rgba(0, 0, 0, 1);
}

.JokeList-spinner {
  color: white;
  text-align: center;
}

.JokeList-getmore {
  font-size: 1.5rem;
  width: 50%;
  border-radius: 2rem;
  padding: 1rem 2rem;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  margin: 2rem;
  cursor: pointer;
  transition: 0.5s ease;
  background: -webkit-linear-gradient(70deg, #90dcff 50%, #ffb4b4 50%);
  background: -o-linear-gradient(70deg, #90dcff 50%, #ffb4b4 50%);
  background: -moz-linear-gradient(70deg, #90dcff 50%, #ffb4b4 50%);
  background: linear-gradient(70deg, #90dcff 50%, #ffb4b4 50%);
  box-shadow: 0px 10px 38px rgba(0, 0, 0, 0.2), 0px 10px 12px rgba(0, 0, 0, 0.2);
}

.JokeList-getmore:hover {
  transform: translateY(-2px);
  box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.3);
}
